<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id ="fruitbucket">
        <h1> Vue Fruit Bucket</h1>

        <input type = "text" placeholder=" Enter the fruits"  
        v-model ="newFruitValue" />

        <button @click="addFruit"> + </button>

   <p v-if="fruits.length==0">No fruits in bucket...Please add some fruits</p>


        <ul v-else>
            <!-- v-bind -->
            <li v-for="(fruit,index) in fruits" :key="index"
            @click="removefruit(index)">
            
                index {{index}} :{{fruit}}</li>
        </ul>

</div>
    <script src="./app.js"></script>
</body>

</html>

